.topRightButton {
    background-color: white;
    color: black;
    text-decoration: none;
    position: fixed;
    top: 20px;
    width: 16px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.topRightButton:hover {
    color: white;
    background-color: #404040;
}

#deleteButton {
    right: 55px;
}

#backButton {
    right: 20px;
}

#shelfBackground {
    position: absolute;
    width: 500px;
    min-height: calc(100vh - 158px);
    padding: 30px;
    background-color: black;
    opacity: 0.9;
    top: 68px;
    left: calc(((100vw - 221px) / 2 ) - 280px + 221px);
}

#shelf {
    padding: 30px;
    color: white;
    position: absolute;
    width: 500px;
    min-height: calc(100vh - 158px);
    top: 68px;
    left: calc(((100vw - 221px) / 2 ) - 280px + 221px);
}

#shelfTools {
    margin-bottom: 20px;
}

#shelfTools .fa {
    margin-right: 20px;
    cursor: pointer;
    padding: 4px;
}

#shelfTools .fa:hover, #shelfTools .fa.active {
    background-color: white;
    color: black;

}

#shelfTools input {
    width: calc(100% - 46px);
    height: 21px;
    text-align: center;
    display: none;
}

#shelfHeader, .field {
    font-family: 'Poiret One', cursive;
    text-align: center;
    padding: 5px;
    background-color: #404040;
}

#shelfHeader {
    font-size: 20px;
    margin-bottom: 10px;
}

.field:not(:last-child) {
    border-bottom: 1px solid white;
}

.field:hover {
    cursor: pointer;
    background-color: #1d1d1d;
}

#shelf > *, #fieldsContainer > * {
    word-break: break-word;
}

/* desktop */
@media (min-width: 1200px) {
}

/* tablet */
@media (max-width: 1199px) {
}

/* mobile */
@media (max-width: 576px) {
}
