@keyframes highlight {
    0% {
        background-color: #1d1d1d;
        color: white;
    }
    100% {
        background-color: lightgray;
        color: black;
    }
}

.topRightButton {
    background-color: white;
    color: black;
    text-decoration: none;
    position: fixed;
    top: 20px;
    width: 16px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.topRightButton:hover {
    color: white;
    background-color: #404040;
}

#deleteShelfButton {
    right: 55px;
}

#backButton {
    right: 20px;
}

input.empty, textarea.empty {
    border: 2px solid red;
}

#shelf {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    color: white;
    position: absolute;
    width: 500px;
    min-height: calc(100vh - 158px);
    top: 68px;
    left: calc(((100vw - 221px) / 2) - 280px + 221px);
}

#shelfTools {
    margin-bottom: 20px;
}

#shelfTools .fa {
    margin-right: 20px;
    cursor: pointer;
    padding: 4px;
}

#shelfTools .fa:hover, #shelfTools .fa.active {
    background-color: white;
    color: black;

}

#shelfTools input {
    width: calc(100% - 46px);
    height: 21px;
    text-align: center;
    display: none;
}

#shelfHeader, .field {
    font-family: 'Poiret One', cursive;
    text-align: center;
    padding: 5px;
    background-color: #404040;
}

#shelfHeader {
    font-size: 20px;
    margin-bottom: 10px;
}

.field:not(:last-child) {
    border-bottom: 1px solid white;
}

.fieldHeadline:hover {
    cursor: pointer;
    background-color: #1d1d1d;
}

#shelf > *, #fieldsContainer > * {
    word-break: break-word;
}

.fieldContent {
    min-height: 500px;
    width: 300px;
    background-color: lightgray;
    margin: 10px auto;
}

.fieldTools {
    text-align: left;
}

.fieldTool {
    padding: 4px;
    cursor: pointer;
}

.fieldTool:hover {
    color: black;
    background-color: white;
}

#addProduct {
    padding: 10px 0;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: 20px;
}

#addProduct:hover, .product:hover:not(.popup) {
    color: white;
    background-color: #1d1d1d;
    width: 100%;
    cursor: pointer;
}

.product:not(.popup) {
    color: black;
    font-weight: bold;
}

.product:not(.popup) .fa {
    color: lightgray;
    float: right;
    font-size: 12px;
    margin: 3px;
}

.product.highlight {
    animation: highlight 3s;
}

#groupAutoComplete {
    z-index: 21;
    position: fixed;
    color: black;
    background-color: white;
    border: 2px solid black;
    padding: 3px;
}

.hint {
    padding: 2px;
}

.hint:not(:first-child) {
    border-top: 1px solid darkgray;
}

.hint:hover {
    color: white;
    background-color: #1d1d1d;
    cursor: pointer;
}

/* desktop */
@media (min-width: 1200px) {
}

/* tablet */
@media (max-width: 1199px) {
    #shelf {
        z-index: 5;
        left: 0;
        width: calc(100vw - 60px);
        top: 100px;
        min-height: calc(100vh - 210px);
    }

    .topRightButton {
        top: 68px;
    }

    #deleteShelfButton {
        right: 41px;
    }

    #backButton {
        right: 7px;
    }

    #productFieldAdd, #productFieldUpdate {
        height: 500px;
        top: calc(50vh - 250px);
        width: calc(100vw - 4px);
        left: 0;
    }

    #deleteShelf, #deleteField {
        height: 230px;
        top: calc(50vh - 115px);
        width: calc(100vw - 4px);
        left: 0;
    }

    #productFieldUpdate {
        height: 420px;
        top: calc(50vh - 210px);
        width: calc(100vw - 4px);
        left: 0;
    }

    .fieldContent {
        width: 95%;
    }

    #shelfTools > .fa {
        float: left;
    }

    #newField {
        float: right;
    }

    #shelfHeader {
        margin-top: 30px;
    }
}

/* mobile */
@media (max-width: 576px) {
}
