body {
    margin: 0;
}

.hidden {
    display: none;
}

#background {
    top: 0;
    position: fixed;
    width: calc(100vw - 221px);
    height: 100vh;
    right: 0;
    background-image: url("../img/bridge.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    z-index: -5;
}

.popupBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    z-index: 20;
}

.popup {
    background-color: #404040;
    font-family: 'Poiret One', cursive;
    top: calc(50vh - 110px);
    position: fixed;
    color: white;
    width: 300px;
    z-index: 21;
    height: 220px;
    border: 2px solid white;
    left: calc(((100vw - 221px) / 2 ) - 150px + 221px);
    text-align: center;
}

.popup.product {
    width: 500px;
    height: 400px;
    top: calc(50vh - 200px);
    left: calc(((100vw - 221px) / 2 ) - 250px + 221px);
}

.popup.product .text {
    text-align: right;
    width: 30%;
    float: left;
}

.popup.product input, .popup.product textarea {
    float: right;
    width: calc(70% - 40px);
}

.popup.product textarea {
    height: 100px;
}

.popup.product .confirmation {
    position: absolute;
    bottom: 50px;
    display: inline-table;
    left: calc(50% - 98px);
}

.popup.product .confirmation button {
    margin: 3px
}

.popup .headline {
    font-size: 25px;
    margin: 20px 0;
}

.popup .text, .popup input, .popup textarea {
    margin: 0 10px 10px 10px;
}

.popup .confirmation {
    margin-top: 20px;
}

.popup button {
    font-weight: bold;
    padding: 7px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.popup button:hover {
    background-color: #1d1d1d;
    color: white;
}

/* desktop */
@media (min-width: 1200px) {
}

/* tablet */
@media (max-width: 1199px) {
}

/* mobile */
@media (max-width: 576px) {
}
