{% extends 'base.twig' %}

{% block content %}
    {{ SHELF }}
{% endblock %}

{% block topRightButton %}
    <a href="{{ URL }}/warehouse"><div id="topRightButton" class="fa fa-arrow-left"></div></a>
{% endblock %}
